*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

.title_section{
    text-align: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: calc(100% / 3);
}

.card {
    text-align: center;
}

img {
    width: 100%;
}